@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
 margin: 0;
 padding: 0;
 font-family: "Roboto", sans-serif;
}

/* 
Body sbgai selector
font-size, color sbgai property
16px, #1c1c1c sbagai value
*/
body {
 font-size: 16px;
 color: #1c1c1c;
 background-color: rgb(241, 239, 239);
}
svg{
 width: 20px;
 height: 20px;
}

section{
 background-color: azure;
}

input{
 font-size: 24px;
}
/* 0,0,1 */
form{
 border: 2px solid #1c1c1c;
}
/* 0,1,0 */
.container{
 padding: 4px;
 font-family: 'Courier New', Courier, monospace;
}
/* 1,0,0 */
#profile {
 padding: 12px;
 border: 2px solid red;
}

h4 {
 font-size: 18px;
}
.title{
 font-size: 20px;
}
#head{
 font-size: 30px;
}
input{
 margin-right: 4px;
 font-size: 18px;
 font-weight: 900;
}
input[type="text"] {
 padding: 5px;
}
input[type="password"] {
 padding: 6px;
 margin-top: 4px;
}

/* cara normal utk naming property */
.box{
 width: 200px;
 height: 200px;
 border: 2px solid red;
 padding: 4px;
 margin: 10px;
}

.form-contact{
 width: 100%;
 max-width: 400px;
 border: 2px solid green;
}
/*  utility class */
.flex{
 display: flex;
}
.flex-column{
 flex-direction: column;
}
.margin-10{
 margin-bottom: 10px;
}
/*  selector untuk merubah semua element attribuite class) */
.label, .input-contact, .form-contact {
 text-decoration: underline;
}
/*  urutan selector  */
.form-contact .form-username{
 border: 3px solid blue;
}
#form-contact #from-username
{
 border: 3px solid blue;
}
a:visited {
 color: red;
}
.link:visited{
 color: blue;
}
button:hover{
 background-color: blue;
}
div + div {
 background-color: cadetblue;
}

/* h2  */
h2{
 font-size: 20px !important;
}
#title{
 font-size: 30px;
}

/*  contoh BEM */
/*  Block */
.btn {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 14px;
}

.hero {

}
.navbar{

}
.accordion {

}
.breadcumb {

}

/* element base on block */
.btn__send{
 background-color: green;
 border: 1px solid green;
 font-weight: 500;
}
.btn__fail{
 background-color: red;
 border: 1px solid red;
 font-weight: 700;
}
.btn__cancel{
 background-color: orange;
 border: 1px solid orange;
}
.hero__content{

}
.hero__title{

}
.hero__img{

}
.navbar__menu{

}
.navbar__submenu{

}

/* modifier */
.btn--orange{
 color: orange;
}
.btn--red{
 color: red;
}
.btn--blue{}

.hero--right{}
.hero--left{}
.hero--top{}

.flex{
 display: flex;
}
.flex-column{
 flex-direction: column;
}
.m-0{
 margin: 0;
}
.p-0{
 padding: 0;
}
.px-10{
 padding-right: 10px;
 padding-left: 10px;
}
.py-10{
 padding-top: 10px;
 padding-bottom: 10px;
}
.block{
 display: block;
}

/* penggabungan */
.button-send{

}
.hero-left{

}

.product{
 background-color: aqua;
 font-size: 14px;
 margin: 20px;
 padding: 20px;
}
.grid-cols-12{
 grid-template-columns: repeat(12,1fr);
}
/* Penamaan CSS 
1. snake-case
2. huruf bukan angka box1 => box-one / box-two / box-left, box-center, box-right
4. absolute => padding,margin,width, height,fontize etc
5. relative => width, height, fontsize
*/